{% extends 'index.html' %}

{% block content %}
    <h1>Страница автора {{author.get_full_name}}</h1>
    <p>Информация по автору</p>
    <p>Никнейм  - {{ author.nickname }}</p>
    <p class="alert alert-info">
        {{ author.date_birth }} -
        {% if author.date_dead %}
            {{ author.date_dead }}
        {% else %}
            По текущее время
        {% endif %}
    </p>
    <h3>Все книги данного автора</h3>

    <div class="row">
        {% for book in author.get_books %}
            <div class="col-md-3">
                <p> Название книги {{ book.title }}</p>
                <div>
                    {% if book.is_sale %}
                        <p class="alert alert-success">Книга по акции {{ book.new_price }}. Вы экономите {{ book.sales }} $ </p>
                    {% else %}
                    <p class="alert alert-danger">
                        Книга не по акции {{ book.price }}
                    </p>
                    {% endif %}
                </div>
                <a href="/book-detail/{{book.id}}/" class="btn btn-link">Подробнее</a>
                <a class="btn btn-primary" href="">Добавить в корзину</a>
                <a class="btn btn-info" href="">купить</a>
            </div>
        {% endfor %}
    </div>
<br>
<div class="row">
    <div class="col-md-6">Кол-во книг по акции  - {{ author.is_sales_books | length }}</div>
    <div class="col-md-6"> Кол-во книг не по акции  - {{ author.is_not_sales_books | length }} </div>
</div>
<br>
<br>
<br>
<a class="btn btn-warning" href="">Купить все книги данного автора</a>
<span>Покупая все книги данного автора за {{author.get_total_price}} $ , Вы экономите - {{ author.get_total_sales }} $</span>
{% endblock %}