{% extends 'index.html' %}

{% block content %}
    <h1>Page detail book!</h1>
    <h2 class="alert alert-info">{{ book.title }}</h2>
    <h3>
        <a href="/about-author/{{ book.author.id }}/">{{ book.author.get_full_name }}</a>
    </h3>
    {% if book.is_sale %}
        <p class="alert alert-success">
                Книга по акции!
        </p>
                <p>Старая  цена - {{ book.price }} $</p>
                <p>Новая цена - {{ book.new_price }} $</p>
                <p>Вы экономите {{ book.sales }} $</p>
    {% else  %}
        <p>Цена  - {{ book.price }} $ </p>
    {% endif %}
<div>
    Описание  - {{ book.description }}
</div>

{% if book.genre %}
    <div>
        Жанр  - {{ book.get_genre_display }}
    </div>
{% endif %}

<a class="btn btn-primary" href="">Добавить в корзину</a>
                <a class="btn btn-info" href="">купить</a>

{% endblock %}


