{% extends 'index.html' %}


{% block content %}
 <form class="form-inline" action="/search/">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Жанр</label>
  <select class="custom-select my-1 mr-sm-2" name="genre" id="inlineFormCustomSelectPref">
      {% for genre in genres %}
            <option value="{{genre.0}}">{{genre.1}}</option>
      {% endfor %}
  </select>

  <div class="custom-control  my-1 mr-sm-2">
    От <input type="number" class="" name="from_price">
    До <input type="number" class="" name="to_price">
  </div>

  <button type="submit" class="btn btn-primary my-1">Search .... </button>
</form>
<div class="row">


    {% for book in books %}

    <div class="col-md-3" style="margin-bottom: 15px;">
        <p>id  - {{book.id}}</p>
        <p>Название - {{book.title}}</p>
        <p>Цена - {{book.price}}</p>
        <p>Описание -{{book.description}}</p>
        <a class="btn btn-primary" href="/book-detail/{{book.id}}/">Read more</a>
    </div>

    {% endfor %}
</div>

{% endblock %}