<header>
    <!--    <a href="/">-->
    <!--        Go to homepage!-->
    <!--&lt;!&ndash;    </a>&ndash;&gt;-->
    <!--    {% if tab != 'calc' %}-->
    <!--    <a href="/examples/calculator/">-->
    <!--        Calculator-->
    <!--    </a>-->
    <!--    {% endif %}-->


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Examples
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/calculator-page/calculator/">Calculator</a>
                        <a class="dropdown-item" href="{% url 'example:form' %}">test-form</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>

            {% if request.user.is_authenticated %}
            <a href="{% url 'client_app:logout' %}" class="btn btn-danger">Выйти ({{ request.user.username }})</a>
            <a href="" class="btn btn-warning">Кабинет </a>
            {% else %}


            <a class="btn btn-primary" href="{% url 'client_app:login' %}">
                Авторизация
            </a>
            <a class="btn btn-primary" href="{% url 'client_app:register' %}">
                Регистрация
            </a>
            {% endif %}
        </div>
    </nav>
</header>