{% extends 'index.html' %}


{% block content %}
<h1>Calculator!!</h1>

<!--    text <input type="text"> <br>-->
<!--    number <input type="number"> <br>-->
<!--    checkbox <input type="checkbox"> <br>-->
<!--    search <input type="search"> <br>-->
<!--    submit <input type="submit"> <br>-->
<!--    password <input type="password"> <br>-->
<!--    textarea<textarea name="" id="" cols="30" rows="10"></textarea> <br>-->
<!--    <select name="" id="">-->
<!--        <option value="">option 1 </option>-->
<!--        <option value="">option 2</option>-->
<!--        <option value="">option 3</option>-->
<!--    </select>-->
<form class="needs-validation" action="/examples/calculator/" method="get">

    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03"> first number</label>
            <input type="number" name="first_number"
                   class="form-control" id="validationCustom03" required>
            <div class="invalid-feedback">
                first number
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label>Operation</label>
            <select name="oper" class="custom-select">
                {% for oper in operations %}
                <option value="{{ oper }}">{{oper}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationCustom05">Second number</label>
            <input type="number" name="second_number" class="form-control" id="validationCustom05" required>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Calc!</button>
</form>

{% if result %}
<div class="alert alert-success" role="alert">
    {{ result }}
</div>
{% endif %}

{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}


<form action="/examples/exchange/" method="post">
    {% csrf_token %}
    <div class="form-row">
         <div class="col-md-3 mb-3">
      <label>Currency</label>
      <select name="currency" class="custom-select">
                <option value="USD">$</option>
                <option value="EUR">eu</option>
      </select>
    </div>
        <div class="col-md-6 mb-3">
            <label for="validationCustom03"> Сколько ты хочешь купить валюты?</label>
            <input type="text" name="count"
                   class="form-control" required>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Calc!" >
    <input type="reset" class="btn btn-info" value="Reset form!" >
</form>


<!--<div class="alert alert-primary" role="alert">-->
<!--  A simple primary alert—check it out!-->
<!--</div>-->
<!--<div class="alert alert-secondary" role="alert">-->
<!--  A simple secondary alert—check it out!-->
<!--</div>-->
<!--<div class="alert alert-success" role="alert">-->
<!--  A simple success alert—check it out!-->
<!--</div>-->
<!--<div class="alert alert-danger" role="alert">-->
<!--  A simple danger alert—check it out!-->
<!--</div>-->
<!--<div class="alert alert-warning" role="alert">-->
<!--  A simple warning alert—check it out!-->
<!--</div>-->
<!--<div class="alert alert-info" role="alert">-->
<!--  A simple info alert—check it out!-->
<!--</div>-->
<!--<div class="alert alert-light" role="alert">-->
<!--  A simple light alert—check it out!-->
<!--</div>-->
<!--<div class="alert alert-dark" role="alert">-->
<!--  A simple dark alert—check it out!-->
<!--</div>-->
<!--<button type="button" class="btn btn-primary">Primary</button>-->
<!--<button type="button" class="btn btn-secondary">Secondary</button>-->
<!--<button type="button" class="btn btn-success">Success</button>-->
<!--<button type="button" class="btn btn-danger">Danger</button>-->
<!--<button type="button" class="btn btn-warning">Warning</button>-->
<!--<button type="button" class="btn btn-info">Info</button>-->
<!--<button type="button" class="btn btn-light">Light</button>-->
<!--<button type="button" class="btn btn-dark">Dark</button>-->

<!--<button type="button" class="btn btn-link">Link</button>-->
{% endblock %}