{% extends 'index.html' %}


{% block content %}
<h1>Test form page!!!!</h1>
<form action="." method="post" enctype="multipart/form-data"> {% csrf_token %}
    {% for field in form %}
    <div class="form-row">
        <label for="">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
            {% for err in field.errors %}
                <p style="color:red;" >{{ err }}</p>
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <button class="btn btn-success">Submit</button>
</form>
<!--{{ form.as_ul }}-->
{% endblock %}